.section-page-credits {
  li {
    list-style: none;
    margin-left: 1rem;
  }

  h2 {
    margin: 1rem 0;
  }

  p{
    font-size: 1.3rem;
  }

  a {
    display: inline-block;
    padding: 0.1rem 0.25rem;
    color: inherit;
    font-size: 1.3rem;
    &:hover {
      background-color: $color-font-primary;
      color: $color-grey-light-1;
    }
  }
  i {
    margin-right: 0.7rem;
  }
}