.section-page-people {
  margin-top: 5rem;
  
  .people-single-photo {
    text-align: center;
    padding: 0.75rem;
    position: relative;
    background: $color-white;
    padding-right: 3rem;
    
    .image {
      width: 100%;
      object-fit: contain;
    }
    .side-img {
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: -5rem;
      left: -5rem;
      z-index: -1;
    }
    
  }

  .people-single-content {
    padding: 0.75rem;

    .name {
      padding: 1rem 0;
      font-size: 2.5rem;
      font-weight: 700;
      font-family: 'Merriweather';
      color: $color-font-primary-dark;
      letter-spacing: 0.15rem;
    }
    .designation {
      font-size: 1.5rem;
      font-weight: 500;
      color: $color-card-3;
    }
    .areas {
      display: inline-block;
      font-size: 1.1rem;
      background-color: $color-card-3-light;
      color: $color-grey-light-1;
      padding: 0.1rem 0.5rem;
      margin: 0.3rem;
      border-radius: 0.5rem;
    }
    .icons {
      padding: 1rem 0;
       a {
         color: inherit;
         &:hover {
           color: $color-card-3;
         }
       }

      i {
        margin-right: 1rem;
        font-size: 2rem;
        vertical-align: middle;
      }
    }
    .line {
      padding: 0.5rem 0;
      border-bottom: 1px solid $color-grey-dark-1;
    }
    p {
      font-size: 1.2rem;
      text-align: justify;
    }
  }
}
