{{ define "main" }}
<section class="section-hero-programs hero hero--programs">
  <div class="hero-breadcrumb">
    <ul class="hero-breadcrumb-list">
      <li>
        <a href="{{ `/` | absURL }}"><i class="fas fa-home"></i></a>
      </li>

      <li>
        <a href="{{ `/home/collaborators/` | absURL }}"><i class="fas fa-chalkboard"></i> Collaborators</a>
      </li>
    </ul>
  </div>
</section>
<section class="section-page-programs mb-5">
  <div class="container-fluid">
    <div class="text-center">
      <h2 class="heading-secondary u-margin-top-small u-margin-bottom-small">
        Programs
      </h2>
    </div>
    <div class="row justify-content-center">
      {{ range .Pages.ByDate}}
      <div class="col-lg-11" >
        {{partial "cards/programs.html" .}}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}