{{ define "main" }}
<section class="section-hero-default hero hero--default">
  <div class="hero-text">
    <p>{{.Summary}}</p>
  </div>
  <div class="hero-breadcrumb">
    <ul class="hero-breadcrumb-list">
      <li>
        <a href="{{ `/` | absURL }}"><i class="fas fa-home"></i></a>
      </li>
      <li>
        <a href="{{ .Title | urlize | absURL }}"><i class="{{.Params.icon}}"></i> {{ .Title }}</a>
      </li>
    </ul>
  </div>
</section>
<section class="section-page-{{.Title | urlize}}">
  <div class="container mb-5">
    <div class="text-center">
      <h2 class="heading-secondary u-margin-top-small u-margin-bottom-small">
        {{ .Title }}
      </h2>
    </div>
    <div class="row">
      {{ range .Pages }}
      <div class="col-md-4">
        <div class="links">
          <a href="{{.RelPermalink}}">{{ .Title}}</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}