{{ define "main" }}
<section class="section-hero-home hero hero--{{.File.BaseFileName }}">
  <div class="hero-breadcrumb">
    <ul class="hero-breadcrumb-list">
      <li>
        <a href="{{ `/` | absURL }}"><i class="fas fa-home"></i></a>
      </li>
      <li>
        <a href="#"><i class="{{.Params.icon}}"></i>{{.Title | truncate 80}}</a>
      </li>
    </ul>
  </div>
</section>
<section class="section-page-home-single mb-5">
  <div class="container">
    <div class="text-center">
      <h2 class="heading-secondary u-margin-top-small u-margin-bottom-small">
        overview
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 section-page-home-single__img"
        style="background-image: url(/images/home/{{.Params.image}});">
      </div>
      <div class="col-md-8 home-single-content">
        <p>
          {{.Content}}
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}